//Primary Color
$Moderate-violet: hsl(263, 55%, 52%);
$Very-dark-grayish-blue: hsl(217, 19%, 35%);
$Very-dark-blackish-blue: hsl(219, 29%, 14%);
$Very-dark-blackish-blue-opacity: hsla(217, 30%, 14%, 0.5);
$White: hsl(0, 0%, 100%);

// Neutral Color
$Light-gray: hsl(0, 0%, 81%);
$Light-gray-opacity: hsla(0, 0%, 81%, 0.5);
$Light-grayish-blue: hsl(210, 46%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin styles-container($background-color, $color-highlight, $color-secundary) {
  background-color: $background-color;

  .author-name {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: $color-highlight;
  }

  .status-verified {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: $color-secundary;
  }

  .narrative1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: $color-highlight;
  }

  .narrative2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: $color-secundary;
  }

  img {
    @include border-img($Light-gray-opacity, 2rem);
  }
}

@mixin border-img($border-color, $width) {
  width: $width;
  height: $width;
  border: 2px solid $border-color;
  border-radius: 50%;
}

body {
  background-color: $Light-grayish-blue;
  width: 100vw;
  height: 100vh;
  display: flex;
  //justify-content: center;

  main {
    margin: auto;
    width: 80vw;
    //height: 50vh;
    display: grid;
    grid-template-areas:
      'cont1 cont1 cont2 cont3'
      'cont4 cont5 cont5 cont3';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;

    .container {
      border-radius: 0.5rem;
      padding: 1.8rem;

      .header-author {
        width: 10rem;
        display: grid;
        grid-template-areas:
          'avatar name-author'
          'avatar status-author';
        grid-template-columns: 1fr 3fr;
      }

      img {
        grid-area: avatar;
      }

      .author-name {
        grid-area: name-author;
      }

      .status-verified {
        grid-area: status-author;
      }

      .narrative1 {
        margin-top: 1rem;
      }

      .narrative2 {
        margin-top: 1rem;
      }
    }

    .container:nth-child(1) {
      grid-area: cont1;
      position: relative;

      @include styles-container(
        $Moderate-violet,
        $Light-gray,
        $Light-gray-opacity
      );

      .narrative1 {
        position: relative;
        z-index: 1;
      }

      #quotation {
        border: 0px;
        border-radius: 0;
        width: 6rem;
        height: auto;
        top: 0%;
        left: 60%;
        position: absolute;
        z-index: 0;
      }
    }

    .container:nth-child(2) {
      grid-area: cont2;
      @include styles-container(
        $Very-dark-grayish-blue,
        $Light-gray,
        $Light-gray-opacity
      );
    }

    .container:nth-child(3) {
      grid-area: cont4;
      @include styles-container(
        $White,
        $Very-dark-grayish-blue,
        $Very-dark-blackish-blue-opacity
      );
    }

    .container:nth-child(4) {
      grid-area: cont5;
      @include styles-container(
        $Very-dark-blackish-blue,
        $Light-gray,
        $Light-gray-opacity
      );
    }

    .container:nth-child(5) {
      grid-area: cont3;
      @include styles-container(
        $White,
        $Very-dark-grayish-blue,
        $Very-dark-blackish-blue-opacity
      );
    }
  }
}
